<section class="intro-video-section set-bg d-flex align-items-end " data-setbg="/endgame-master/img/promo-bg.jpg">
    <a href="https://www.youtube.com/watch?v=4hoB8lHNMZo&list=PLLH8sgqaTeYpfT3sb2BVDlgrsoRWj6Mxd&index=14" class="video-play-btn video-popup"><img src="~/endgame-master/img/icons/solid-right-arrow.png" alt="#"></a>
    <div class="container">
        <div class="video-text">
            <h2>Oyunun tanıtım videosu</h2>
            <p>Her türden oyunun fragmanını burada paylaşıyoruz.</p>
        </div>
    </div>
</section>