<section class="hero-section overflow-hidden">
    <div class="hero-slider owl-carousel">
        <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/endgame-master/img/slider-bg-1.jpg">
            <div class="container">
                <h2>Oyun Başlıyor!</h2>
                <br />
                <p>Yeni çıkan oyunlar hakkında incelemelere, en son oyun haberlerine ulaşabilir<br>ve oyunlar sekmesinden almak istediğiniz oyunun sayfasına gidebilirsiniz.</p>
            </div>
        </div>
    </div>
</section>