<section class="featured-section">
    <div class="featured-bg set-bg" data-setbg="/endgame-master/img/featured-bg.jpg"></div>
    <div class="featured-box">
        <div class="text-box">
            <h3>Oyun sizi bekliyor!</h3>
            <p>Her türden oyunla ilgili incelemelere ulaşabilir, oyun dünyasında yaşanan son gelişmelerden anında haberdar olabilirsiniz. İstediğiniz zaman bizimle iletişime geçebilir, sorularını sorabilirsiniz.Eğer daha fazlasını isterseniz aşağıda yer alan kısımdan e-mail adresinizi girerek sitemize destek olabilir ve haberleri anında mailinizde görebilirsiniz.</p>
        </div>
    </div>
</section>