<footer class="footer-section">
    <div class="container">
        <div class="footer-left-pic">
            <img src="~/endgame-master/img/arthur.jpg" style="width:280px;height:280px" alt="">
        </div>
        <div class="footer-right-pic">
            <img src="~/endgame-master/img/kassandra.jpg" alt="">
        </div>
        <a href="#" class="footer-logo">
            <img src="~/endgame-master/img/logo.png" alt="">
        </a>
        <ul class="main-menu footer-menu">
            <li><a href="/Default/Index/">Anasayfa</a></li>
            <li><a href="">Oyunlar</a></li>
            <li><a href="/Review/Index/">İncelemeler</a></li>
            <li><a href="/News/Index/">Haberler</a></li>
            <li><a href="/Contact/Index/">İletişim</a></li>
        </ul>
        <div class="footer-social d-flex justify-content-center">
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="copyright"><a href="">Emir Tuğrul Aytekin</a> @DateTime.Now.Year  Tüm Hakları Saklıdır</div>
    </div>
</footer>