<header class="header-section">
    <div class="header-warp">
        <div class="header-social d-flex justify-content-end">
            <p>Bizi Takip Edin:</p>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="header-bar-warp d-flex">
            <!-- site logo -->
            <a href="home.html" class="site-logo">
                <img src="~/endgame-master/img/logo.png">
            </a>
            <nav class="top-nav-area w-100">
                <div class="user-panel">
                    <a href="/Login/SignIn/">Giriş Yap</a> / <a href="/Login/SignUp/">Kayıt Ol</a>
                </div>
                <!-- Menu -->
                <ul class="main-menu primary-menu">
                    <li><a href="/Default/Index/">Anasayfa</a></li>
                    <li>
                        <a href="/Game/Index/">Oyunlar</a>
                    </li>
                    <li>
                        <a href="/Review/Index/">İncelemeler</a>
                    </li>
                    <li><a href="/News/Index/">Haberler</a></li>
                    <li><a href="/Contact/Index/">İletişim</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>